{
    "extends": ["airbnb"],
    "env": {
      "browser": true,
      "node": true,
      "jest": true,
      "commonjs": true
    },
    "rules": {
      "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
      "semi": [0, "error"],
      "react/jsx-props-no-spreading": 0
    }
  }
